<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Requirement Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <!-- <form action = "http://localhost:5000/login" method = "post"></form>
       <div id="login-page">
           <div id="login-box">
               <h2>Login</h2>
               <input type="text" id="student-id" placeholder="Enter Student ID" required>
               <input type="password" id="password" placeholder="Enter Password" required>
               <button id="login-button">Login</button>
           </div>
       </div> -->




<div class="container">
    <!-- Sidebar for Filters -->
    <!-- <div class="sidebar">
        <h3>Filter by:</h3>
        <div class="filter-group">
            <h4>Skills</h4>
            <label><input type="checkbox" value="JavaScript" class="filter-skill"> JavaScript</label>
            <label><input type="checkbox" value="Python" class="filter-skill"> Python</label>
            <label><input type="checkbox" value="SQL" class="filter-skill"> SQL</label>
            <label><input type="checkbox" value="HTML" class="filter-skill"> HTML</label>
            <label><input type="checkbox" value="C#" class="filter-skill"> C#</label>
        </div>
        <div class="filter-group">
            <h4>Job Type</h4>
            <label><input type="radio" name="job-type" value="full_stack_developer" class="filter-job-type"> Full Stack Developer</label>
            <label><input type="radio" name="job-type" value="software_engineer" class="filter-job-type"> Software Engineer</label>
            <label><input type="radio" name="job-type" value="front_end_developer" class="filter-job-type"> Front End Developer</label>
        </div>
        <div class="filter-group">
            <h4>Location</h4>
            <label><input type="radio" name="location" value="British Columbia" class="filter-location"> British Columbia</label>
            <label><input type="radio" name="location" value="Alberta" class="filter-location"> Alberta</label>
            <label><input type="radio" name="location" value="Ontario" class="filter-location"> Ontario</label>
        </div>
        <button id="apply-filters" onclick="sendData()">Apply Filters</button>
        <p id="name"></p>
    </div>
         -->
       <div id="main-website" style="width: 100%">
           <header>
               <h1>Job Requirement Database</h1>
           </header>

           <div class="container">
               <!-- Sidebar for Filters -->
               <div class="sidebar">
                   <h3>Filter by:</h3>
                   <div class="filter-group">
                       <h4>Skills</h4>
                       <label><input type="checkbox" value="JavaScript" class="filter-skill"> JavaScript</label>
                       <label><input type="checkbox" value="Python" class="filter-skill"> Python</label>
                       <label><input type="checkbox" value="SQL" class="filter-skill"> SQL</label>
                       <label><input type="checkbox" value="HTML" class="filter-skill"> HTML</label>
                       <label><input type="checkbox" value="C#" class="filter-skill"> C#</label>
                   </div>
                   <div class="filter-group">
                       <h4>Job Type</h4>
                       <label><input type="radio" name="job-type" value="full_stack_developer" class="filter-job-type"> Full Stack Developer</label>
                       <label><input type="radio" name="job-type" value="software_engineer" class="filter-job-type"> Software Engineer</label>
                       <label><input type="radio" name="job-type" value="front_end_developer" class="filter-job-type"> Front End Developer</label>
                   </div>
                   <div class="filter-group">
                       <h4>Location</h4>
                       <label><input type="radio" name="location" value="BC" class="filter-location"> British Columbia</label>
                       <label><input type="radio" name="location" value="AB" class="filter-location"> Alberta</label>
                       <label><input type="radio" name="location" value="ON" class="filter-location"> Ontario</label>
                   </div>
                   <button id="apply-filters">Apply Filters</button>
               </div>

               <!-- Content -->
               <div class="content">
                   <div class="search-bar">
                       <input type="text" id="search-bar" placeholder="Search for job...">
                       <button id="search-button">Search</button>
                   </div>
                   <div class="job-list" id="job-list">
                        <!-- {% for job in job_list %}
                        <h4>{{job['job_name']}}</h4>
                        <p><strong>company_name:</strong> {{job['company_name']}}</p>
                        <p><strong>Location:</strong> {{job['location']}}</p>
                        <p><strong>Skills:</strong> {{job['skill_name']|join(', ')}}</p>
                        {% endfor %} -->
                   </div>
               </div>
           </div>
       </div>

               <script>
                   //Login 
                //    document.getElementById('login-button').addEventListener('click', function () {


                //        const studentID = document.getElementById('student-id').value;
                //        const password = document.getElementById('password').value;


                //        if (studentID && password) {
                //            document.getElementById('login-page').style.display = 'none';
                //            document.getElementById('main-website').style.display = 'block';
                //        } else {
                //            alert('Please enter a valid StudentID and Password');
                //        }
                //    });

                   // Prototype job data

                    //    { job_name: "Full Stack Developer", company_name: "Whitecap Canada", location: "Ontario", skills: ["JavaScript", "HTML"] },
                    //    { job_name: "Java Full Stack Developer", company_name: "Cognizant", location: "Ontario", skills: ["SQL", "JavaScript"] },
                    //    { job_name: "Senior Full Stack Developer", company_name: "Royal Bank of Canada", location: "Alberta", skills: ["JavaScript"] },
                    //    { job_name: "Full Stack Developer", company_name: "DLL", location: "Ontario", skills: ["Python"] },
                    //    { job_name: "Front End Developer", company_name: "Graphem Solutions", location: "Alberta", skills: ["JavaScript"] },
                    //    { job_name: "Software Engineer", company_name: "PDF Solutions", location: "British Columbia", skills: ["C#", "CouchDB"] },
                   
                    async function getJobs() {
                        window.jobs = await fetch('/getJobs', {
                            method: 'POST'
                        }).then(response => response.json());
                        renderJobs(jobs)
                    }

                   // Function to render jobs
                   function renderJobs(filteredJobs) {
                       const jobList = document.getElementById('job-list');
                       jobList.innerHTML = '';
                       filteredJobs.forEach(job => {
                           const jobItem = document.createElement('div');
                           jobItem.classList.add('job-item');
                           jobItem.innerHTML = `
                               <h4>${job.job_name}</h4>
                               <p><strong>Company:</strong> ${job.company_name}</p>
                               <p style='text-transform: capitalize'><strong>Job Type:</strong> ${job.job_type.replaceAll('_', ' ')}</p>
                               <p><strong>Location:</strong> ${job.location}</p>
                               <p><strong>Skills:</strong> ${job.skill_name.join(', ')}</p>
                           `;
                           jobList.appendChild(jobItem);
                       });
                   }

                   // Initial render
                   getJobs();

                   // Search functionality
                   document.getElementById('search-button').addEventListener('click', () => {
                       const searchTerm = document.getElementById('search-bar').value.toLowerCase();
                       const filteredJobs = jobs.filter(job => job.job_name.toLowerCase().includes(searchTerm));
                       renderJobs(filteredJobs);
                   });

                   // Filter functionality
                   document.getElementById('apply-filters').addEventListener('click', () => {
                       const selectedSkills = Array.from(document.querySelectorAll('.filter-skill:checked')).map(el => el.value);
                       const selectedJobType = document.querySelector('.filter-job-type:checked')?.value;
                       const selectedLocation = document.querySelector('.filter-location:checked')?.value;
                       const locations = {
                        BC:['British Columbia', 'BC'],
                        AB:['Alberta', 'AB'],
                        SK:['Saskatchewan', 'SK'],
                        MB:['Manitoba', 'MB'],
                        ON:['Ontario', 'ON'],
                        QC:['Quebec', 'QC'],
                        NB:['New Brunswick', 'NB'],
                        NL:['Newfoundland', 'NL'],
                        NT:['Northwest Territories', 'NT'],
                       }

                       const filteredJobs = jobs.filter(job => {
                           const matchesSkills = selectedSkills.length === 0 || selectedSkills.every(skill => job.skill_name.includes(skill));
                           const matchesJobType = !selectedJobType || job.job_type.toLowerCase().includes(selectedJobType);
                           const matchesLocation = !selectedLocation || locations[selectedLocation].some(location => job.location.toLowerCase().includes(location.toLowerCase()));
                           return matchesSkills && matchesJobType && matchesLocation;
                       });

                       renderJobs(filteredJobs);
                   });
               </script>

</body>
</html>